<p id="notice"><%= notice %></p>

<h1>Enquetes</h1>


    <% @enqueues.each do |enqueue| %>
    <div class="row">
      <div class="card horizontal">
        <div class="card-image">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h4><%= enqueue.name%></h4>
            <h6><%= enqueue.user %></h6>
            <p><%= enqueue.description %></p>
          </div>
          <div class="card-action">
            <a>Ver +</a>
            <a>Editar</a>
            <a>Excluir</a>
          </div>
        </div>
      </div>
    </div>
    <% end %>

<br>

<a class="waves-effect waves-light btn" href="<%= new_enqueue_path%>"><i class="material-icons left">add</i>Criar Enquete</a>
